<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Site</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <nav class="relative bg-blue-800">
      <div
        class="relative flex flex-row mx-auto px-2 h-16 items-center justify-between"
      >
        <img src="{{url_for('static', filename='images/favicon-32x32.png')}}" alt="">
        <div class="flex flex-row text-white text-3xl justify-between">
          <span class="px-2">NOTIF</span>
          <span>PROF</span>
        </div>
      </div>
    </nav>
    <div class="flex justify-center mt-8">
      <div class="flex bg-blue-300 h-100 w-150">
        <img
          src="{{url_for('static', filename='images/scotland.jpg')}}"
          class="object-cover w-96"
        />
        <div class="m-2">
          <h1 class="text-xl">{{title}}</h1>
          <h2>{{user_name}}</h2>
          <hr class="text-gray-400"/>
          <p class="text-l">
           {{desc}}
          </p>
          <hr class="text-gray-400">
        </div>
      </div>
    </div>
  </body>
</html>
